<!DOCTYPE html>
<html>
  <head>
   <title>json-indent</title>
   <script src="js/prettify.js"></script>
   <link rel="stylesheet" href="css/prettify.css">
  </head>
  <body onload="prettyPrint()">
    <pre><code class="prettyprint lang-js">{{.Indented}}</code></pre>
  </body>
</html>
